<!-- Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wwa-text">
                    <h2>Tricks and Trends Blog</h2>
                    <hr class="hr-cng">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 wwa-text">
                    <p>We constantly post new tricks and trends that could help you with your daily IT job</p>
					<a href="#" class="btn btn-default btn-lg">Visit Blog</a>
                </div>                
            </div>
        </div>
    </section>