    <!-- Footer -->
    <footer class="footer footer-big footer-color-black">
		<div class="container">
			<div class="row addmore">
				<div class="col-md-3 col-sm-3">
					<div class="info">
						<h5 class="title">Menitia IT Consulting</h5>
						<!--<p>
							Menitia IT Consulting delivers business solutions in computing system integration, networking design, application development, digital marketing, and SEO. Our expertise in business support and manageability ensures that your IT operations are in safe hands, while your organization focuses on those functions they know best.
						</p>-->
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="info">
						<h5>Head Office</h5>
						<nav>
							<ul>
								<li class="ofc3">
									<b>Ljukärssvagen 62
										<br> Saltsjöbaden 13331,
										<br> Stockholm, Sweden.
									</b>
									<br>
									<i class="fa fa-envelope-o"></i> mchenry@menitia.com
										<br>
										<i class="fa fa-phone"></i> +46 (0) 737 856 949
										<br>
										<i class="fab fa-whatsapp"></i> +46 (0) 737 856 949									
								</li>
								<h5>Göteborg</h5>
								<li class="ofc3">								
									<b>Backa Bergögata 8<br>422 46, Hisings Backa<br />
										Sweden.
									</b><br>
									<i class="fa fa-envelope-o"></i> mchenry@menitia.com<br>
									<i class="fa fa-phone"></i> +46 (0) 737 856 949<br>
									<i class="fab fa-whatsapp"></i> +46 (0) 737 856 949
									
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="info">
						<h5>Växjö</h5>
						<nav>
							<ul>
								<li class="ofc3">
									
										<b>Blidens Väg 14<br>
										  352 55, Växjö<br> Sweden.</b><br />
										  <i class="fa fa-envelope-o"></i> mulasi@menitia.com<br>
										  <i class="fa fa-phone"></i>+46 (0) 701 410 631<br>
										  <i class="fab fa-whatsapp"></i> +234 (0) 9035 816 145									
								</li>
								<h5>Lagos</h5>
								<li class="ofc3">								
									<b>1 Adigun Street<br>
										New Oko Oba Agege<br>
										Lagos, Nigeria.</b><br>
									<i class="fa fa-envelope-o"></i> youngeze@menitia.com<br>
										<i class="fa fa-phone"></i> +234 (0) 9034 448 792<br>
										<i class="fab fa-whatsapp"></i> +234 (0) 9034 448 792
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="info">
						<h5>Follow us on</h5>
						<nav>
							<ul>
								<li>
									<a href="#" class="btn btn-social btn-facebook btn-simple">
										<i class="fa fa-facebook-square"></i> Facebook
									</a>
								</li>
								<li>
									<a href="#" class="btn btn-social btn-dribbble btn-simple">
										<i class="fa fa-dribbble"></i> Dribbble
									</a>
								</li>
								<li>
									<a href="#" class="btn btn-social btn-twitter btn-simple">
										<i class="fa fa-twitter"></i> Twitter
									</a>
								</li>
								<li>
									<a href="#" class="btn btn-social btn-reddit btn-simple">
										<i class="fa fa-google-plus-square"></i> Google+
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<hr>
			<div class="copyright">
				<p class="mi-ft">Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
			</div>
		</div>
    </footer>
