    <!-- wwa Section -->
    <section class="success" id="wwa">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wwa-text">
                    <h2>Who We Are</h2>
                    <hr class="hr-cng">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 wwa-text">
                    <p>Menitia IT consulting is a young but fastly evolving international firm with a strong passion for professionalism and technology. Within that past two years of operation, we have proven to our loyal customers that we are reliable, trustworthy, and supportive.</p>
                </div>                
            </div>
        </div>
    </section>